<?xml version="1.0" encoding="us-ascii"?>
<mappings>
    <mapping type="subject">
        <!-- =======================================================================
            World Languages (Joe Monroy)
        ======================================================================== -->
        <subject name="English for Speakers of Other Languages">
            <topic name="Listening/Speaking Level One">
                <pattern match="ESOL 0031" />
            </topic>
            <topic name="Listening/Speaking Level Two">
                <pattern match="ESOL 0032" />
            </topic>
            <topic name="Listening/Speaking Level Three">
                <pattern match="ESOL 0033" />
            </topic>
            <topic name="Listening/Speaking Level Four">
                <pattern match="ESOL 0034" />
            </topic>
            <topic name="Accent Reduction">
                <!-- this pattern needs to override the previous one, so it gets
                     a priority of 2 -->
                <pattern match="ESOL 0034-2020" priority="2" />
                <pattern match="ESOL 0034-2021" priority="2" />
            </topic>
            <topic name="Reading Level One">
                <pattern match="ESOL 0041" />
            </topic>
            <topic name="Reading Level Two">
                <pattern match="ESOL 0042" />
            </topic>
            <topic name="Reading Level Three">
                <pattern match="ESOL 0043" />
            </topic>
            <topic name="Reading Level Four">
                <pattern match="ESOL 0044" />
            </topic>
            <topic name="Writing and Grammar Level One">
                <pattern match="ESOL 00[56]1" />
            </topic>
            <topic name="Writing and Grammar Level Two">
                <pattern match="ESOL 00[56]2" />
            </topic>
            <topic name="Writing and Grammar Level Three">
                <pattern match="ESOL 00[56]3" />
            </topic>
            <topic name="Writing and Grammar Level Four">
                <pattern match="ESOL 00[56]4" />
            </topic>
            <topic name="Level One Intensive English Program">
                <pattern match="ESOL 0036" />
            </topic>
            <topic name="Level Two Intensive English Program">
                <pattern match="ESOL 0066" />
            </topic>
            <topic name="Level Three Intensive English Program">
                <pattern match="ESOL 0056" />
            </topic>
            <topic name="Level Four Intensive English Program">
                <pattern match="ESOL 0046" />
            </topic>
        </subject>
    </mapping>
</mappings>

<!-- New spring mappings will go here when we get them. -->