############################################################
# Logging Configuration File
#
# Taken from:
# http://norman.walsh.name/2009/10/05/xmlcalabash
#
# You can use a different file by specifying a filename
# with the java.util.logging.config.file system property.  
# For example java -Djava.util.logging.config.file=myfile
############################################################

# Limit the message that are printed on the console to WARNING and above.
java.util.logging.ConsoleHandler.level=WARNING
java.util.logging.ConsoleHandler.formatter=com.xmlcalabash.util.LogFormatter
